@model University.BL.DTOs.DepartmentDTO
@{
    ViewBag.Title = "Edit";
}
<h2>Edit</h2>

<form method="post" action="/Departments/Edit">
    
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.DepartmentID)

    @Html.DisplayNameFor(m => m.Name)
    @Html.EditorFor(m => m.Name, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })

    @Html.DisplayNameFor(m => m.Budget)
    @Html.EditorFor(m => m.Budget, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.Budget, "", new { @class = "text-danger" })

    @Html.DisplayNameFor(m => m.StartDate)
    @Html.EditorFor(m => m.StartDate, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })

    @Html.DisplayNameFor(m => m.InstructorID)
    @Html.EditorFor(m => m.InstructorID, new { htmlAttributes = new { @class = "form-control" } })
    @Html.ValidationMessageFor(m => m.InstructorID, "", new { @class = "text-danger" })

    <hr />
    <input type="submit" value="Edit" class="btn btn-primary" />
</form>